checkpoints/
DatasetLidarCamera.py
DatasetLidarCamera_Ver3.py
DatasetLidarCamera_Ver4.py
DatasetLidarCamera_Ver5.py
DatasetLidarCamera_Ver6.py
DatasetLidarCamera_Ver7.py
DatasetLidarCamera_Ver8.py
DatasetLidarCamera_Ver8_1.py
DatasetLidarCamera_Ver8_2.py
DatasetLidarCamera_Ver8_3.py
DatasetLidarCamera_Ver8_4.py
LCCNet_COTR_moon.py
LCCNet_COTR_moon_Ver2.py
LCCNet_COTR_moon_Ver3.py
LCCNet_COTR_moon_Ver4.py
LCCNet_COTR_moon_Ver5.py
LCCNet_COTR_moon_Ver6.py
LCCNet_COTR_moon_Ver6_eval.py
LCCNet_COTR_moon_Ver7.py
LCCNet_COTR_moon_Ver8.py
LCCNet_COTR_moon_Ver8_1.py
LCCNet_COTR_moon_Ver8_2.py
LCCNet_COTR_moon_Ver8_3.py
LCCNet_COTR_moon_Ver8_4.py
losses.ipynb
losses.py 
losses_Ver4.py
losses_Ver5.py
losses_Ver6.py
losses_Ver7.py
losses_Ver8.py
losses_Ver8_1.py
losses_Ver8_2.py
losses_Ver8_3.py
losses_Ver8_4.py
models/
my_req.txt
output/
pretrained/
train_moon.ipynb
train_moon_Ver2.0.ipynb
train_moon_Ver3.0.ipynb
train_moon_Ver4.0.ipynb
train_moon_Ver5.0.ipynb
train_moon_Ver6.0.ipynb
train_moon_Ver7.0.ipynb
train_moon_Ver8.0.ipynb
train_moon_Ver8.1.ipynb
train_moon_Ver8.2.ipynb
train_moon_Ver8.3.ipynb
train_moon_Ver8.4.ipynb
train_moon_Ver5.0.py
train_moon_Ver6.0.py
train_moon_Ver6.1.py
train_moon_Ver7.0.py
train_moon_Ver8.0.py
train_moon_Ver8.1.py
train_moon_Ver8.2.py
train_moon_Ver8.3.py
train_moon_Ver8.4.py
train_with_sacred.py 
COTR/out/default.zip
COTR/out/default/checkpoint.pth.tar
COTR/out/model/76000_0.0008val_checkpoint.pth.tar
*.pyc
